forsidebilde.jpg
forsidebilde.png
Aarsrapport2015.R
Kopi av DGA NPR og NoRGast per kodegruppe og totalt_v2.xlsx
NPRdataForAarsrapport.csv
Re Resultater for aarsrapport og offentliggjoering NoRGast. Tall fra 2015.msg
NPRdataForAarsrapportKolon.csv
NPRdataForAarsrapportRektum.csv
NoRGast Tekst til diagrammene i aarsrapporten.docx
diagnoser.csv
tilLinnOkt2016.R
AccordionGrad.pdf
KumAcc.pdf
NCSP_brukerkontroll_NoRGast.csv
skjemaoversikt.R
tmp.pdf
MedDiabetes_distalepankreas.pdf
ModGlasgowScore_distalepankreas.pdf
erMann_distalepankreas.pdf
DekningsgradNPR2015.csv
DekningsgradNPR2015.xlsx
Kvartalsrapport.docx
Gjsn_liggetidStOlav.csv
Gjsn_liggetidStOlavLaparoskopi.csv
Kvartalsrapport_Spoersmaal.docx
NoRGast manus V10.docx
reop_pankreas.pdf
utfil.pdf
Gjsn_liggetidStOlavAapenKonv.csv
Bestilling tabfig aarsrapport 16.docx
NPRtall2014.csv
NPRtall2015.csv
NPRtall2016.csv
NPRtall2017-06-28.xlsx
NoRGast manus V10.docx
reop_pankreas.pdf
utfil.pdf
PidValideringNoRGastVestfold.csv
testdata_nyversjonNovember.R
ReLapNarkose.pdf
~$rsrapportNG2016-1709.docx
sjekk_data_kristin.R
AndrePankreasUNN2017.csv
fig_aarsrapp2017
fig_aarsrapp2017.zip
Utlevering_Linn_18.06.2018.csv
fig1.pdf
fig2.pdf
fig2_konf.pdf
fig3.pdf
fig4.pdf
fig4_konf.pdf
fig5.pdf
fig6.pdf
fig7.pdf
fig8.pdf
fig8_konf.pdf
UtleveringColoncancer.csv
stig08022019.7z
stig08022019.csv
Vekttap_registrert.pdf
rapbaseConfig.yml
Onsker for tabeller og figurer til årsrapporten NoRGast 2018.docx
ViktigsteFunn_rektum_elektiv.pdf
missing_norgast.csv
missing_norgast_ferdigoppf.csv
missing_norgast_ferdigoppf_v2.csv
missing_norgast_v2.csv
AccordionGrad_rekt.pdf
AccordionGrad_rekt.wmf
Anastomoselekkasje_rekt_aar.pdf
Anastomoselekkasje_rekt_aar.wmf
Anastomoselekkasje_rekt_malign_ecog_0_1.pdf
Anastomoselekkasje_rekt_malign_ecog_0_1.wmf
KumAcc_rekt_aar.pdf
KumAcc_rekt_aar.wmf
ReLapNarkose_rekt_aar.pdf
ReLapNarkose_rekt_aar.wmf
ReLapNarkose_rekt_malign_ecog_0_1.pdf
ReLapNarkose_rekt_malign_ecog_0_1.wmf
Tilgang_rekt.wmf
Tilgang_rekt_aar.pdf
Tilgang_rekt_aar.wmf
Tilgang_rekt_malign_ecog_0_1.pdf
Tilgang_rekt_malign_ecog_0_1.wmf
konv_rate_rektum_malign_ecog0_1.pdf
konv_rate_rektum_malign_ecog0_1.wmf
17-10697-5 Dekningsgrad_rapport_NoRGast_2016.pdf
19_2683_NoRGast Brev.PDF
19_2683_NoRGast Notat.PDF
DG_norgast_2018.xlsx
reopererte_funn_annet.csv
KvartalsrappUNN-Tromsø2019-10-18 12_23_03.pdf
samleDok2019-10-18 13_04_18.pdf
