forsidebilde.jpg
forsidebilde.png
Aarsrapport2015.R
Kopi av DGA NPR og NoRGast per kodegruppe og totalt_v2.xlsx
NPRdataForAarsrapport.csv
Re Resultater for aarsrapport og offentliggjoering NoRGast. Tall fra 2015.msg
NPRdataForAarsrapportKolon.csv
NPRdataForAarsrapportRektum.csv
NoRGast Tekst til diagrammene i aarsrapporten.docx
diagnoser.csv
tilLinnOkt2016.R
AccordionGrad.pdf
KumAcc.pdf
NCSP_brukerkontroll_NoRGast.csv
skjemaoversikt.R
tmp.pdf
MedDiabetes_distalepankreas.pdf
ModGlasgowScore_distalepankreas.pdf
erMann_distalepankreas.pdf
DekningsgradNPR2015.csv
DekningsgradNPR2015.xlsx
Kvartalsrapport.docx
Gjsn_liggetidStOlav.csv
Gjsn_liggetidStOlavLaparoskopi.csv
Kvartalsrapport_Spoersmaal.docx
NoRGast manus V10.docx
reop_pankreas.pdf
utfil.pdf
Gjsn_liggetidStOlavAapenKonv.csv
Bestilling tabfig aarsrapport 16.docx
NPRtall2014.csv
NPRtall2015.csv
NPRtall2016.csv
NPRtall2017-06-28.xlsx
NoRGast manus V10.docx
reop_pankreas.pdf
utfil.pdf
PidValideringNoRGastVestfold.csv
testdata_nyversjonNovember.R
