forsidebilde.jpg
forsidebilde.png
Aarsrapport2015.R
Kopi av DGA NPR og NoRGast per kodegruppe og totalt_v2.xlsx
NPRdataForAarsrapport.csv
Re Resultater for aarsrapport og offentliggjoering NoRGast. Tall fra 2015.msg
NPRdataForAarsrapportKolon.csv
NPRdataForAarsrapportRektum.csv
NoRGast Tekst til diagrammene i aarsrapporten.docx
diagnoser.csv
tilLinnOkt2016.R
